
/* Hero Section */
.hero {
    background-color: #d4eddf;
    padding: 80px 20px;
    height: 100%;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .button {
    background-color: #ff6a00;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.hero .button:hover {
    background-color: #e65c00;
}

/* Categories Section */
.categories {
    padding: 50px 20px;
    background-color: #ffffff;
}

.categories h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.category-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.category-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: calc(33.33% - 20px);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(254, 142, 4, 0.1);
}

.category-card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.category-card p {
    font-size: 1rem;
    margin-bottom: 25px;
}

.category-card .button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.category-card .button:hover {
    background-color: #c8a66b;
}


/* Responsive Design */
@media (max-width: 1200px) {
    .category-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar nav ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    .categories .category-grid {
        flex-direction: column;
        align-items: center;
    }

    .category-card {
        width: 100%;
        max-width: 400px;
        margin: 20px 0;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero .button {
        font-size: 1.2rem;
        padding: 12px 25px;
    }
}
